{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
<title>Fund Account</title>
{% endblock %}

{% block style %}
<style>
.balance-container {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.balance-box {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>
{% endblock %}

{% block content %}
<div class="section-body">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4>Top Up Account</h4>
          </div>
          <div class="card-body">
            <form class="fund-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="form-group">
                    <label>Amount ({{request.user.currency}}) <span class="text-danger">*</span></label>
                    <input type="number" maxlength="12" name="amount" class="form-control" required>
                </div>
                <label>Select Method <span class="text-danger">*</span></label>
                <select class="form-control" name="method" required>
                  <option value="bank transfer">Bank Transfer</option>
                  <option value="bitcoin">Bitcoin</option>
                  <option value="usdt">USDT</option>
                </select>
              </div>
              <div class="form-group">
                <input type="hidden" value="funding" name="purpose" class="form-control" disabled>
              </div>
              <div class="card-footer text-left">
                <button class="btn btn-primary mr-1"><span class="btn-text">Proceed</span></button>
              </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  let fundForm = document.querySelector('.fund-form'),
  fundBtn = fundForm.querySelector('.btn'),
  url = "{% url 'banking:process_payment' %}",
  data = null;
  

  fundForm.addEventListener('submit', (e)=>{
    e.preventDefault();

    // Loading animation
    let btnText = fundBtn.querySelector('.btn-text');
    btnText.innerHTML = `Please wait...<img width='20' src="{% static 'dashboard/img/spinner-white.svg' %}">`;
    fundBtn.disabled = true;
    data = {
        'amount': fundForm['amount'].value,
        'method': fundForm['method'].value,
        'purpose': fundForm['purpose'].value,
    };

    fetch(url, {
        method: "POST",
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify(data)
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log(data);
        if (data['status'] == "success") {
            btnText.innerHTML = `Success`;
            fundBtn.disabled = true;
            window.location.href = data['payment-url'];
        } else {
            console.log(data);
            btnText.innerHTML = `Proceed`;
            fundBtn.disabled = false;
            swal(data['message'], {icon: 'error'});
        }
    })
    .catch((err)=>{
        console.log(err);
        btnText.innerHTML = `Proceed`;
        fundBtn.disabled = false;
        swal('Service is temporarily down');
    })


  })
</script>
{% endblock %}